@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="dark-background-content" style="margin-top:150px">

    <div class="container" style="margin-top:80px">
        <div class="row">
            <div class="col-lg-6 col-sm-12 mt-5">
                <div class="get-touch bg-light p-5">
                    <h4 class="about-title" style="font-size:24px;">İletişime Geç</h4>
                    <form method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email Adresi</label>
                            <input type="Mail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                   placeholder="Mail Adresiniz">
                        </div>
                        <div class="form-group ">
                            <label for="exampleFormControlSelect1">Konu</label>
                            <select class="form-control" name="Subject" id="exampleFormControlSelect1">
                                <option>General Inquiry</option>
                                <option>Technical Issue</option>
                                <option>Account Support</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Mesaj</label>
                            <textarea class="form-control" name="Message" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="form-group d-flex justify-content-end">

                            <button type="submit" class="btn header-button text-light  pt-2 pb-2 pl-4 pr-4  ">Gönder</button>
                        </div>
                    </form>
                    @if (TempData["AlertMessage"] != null)
                    {
                        <div class="alert alert-success">@TempData["AlertMessage"]</div>
                    }

                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                    }

                </div>
            </div>
            <div class="col-lg-6 col-sm-12 p-5">
                <h2 class="text-light" style="font-size: 46px; font-weight: 800;">Contact Me</h2>
                <p class="header-text mt-4 mb-5">
                    A digital agency is a business you hire to outsource your digital
                    marketing efforts, instead of handling in-house.
                </p>

                <span class="fa-stack fa-lg ">
                    <i class="fa fa-circle fa-stack-2x navbar-social-media-circle"></i>
                    <i class="fa fa-location-dot fa-stack-1x fa-inverse "></i>
                </span>
                <p class="about-text text-light d-inline-flex ml-3">2247 Lunetta Street, TX 76301</p><br><br>
                <span class="fa-stack fa-lg ">
                    <i class="fa fa-circle fa-stack-2x navbar-social-media-circle"></i>
                    <i class="fa fa-phone fa-stack-1x fa-inverse "></i>
                </span>
                <p class="about-text text-light d-inline-flex ml-3">2247 Lunetta Street, TX 76301</p><br><br>
                <span class="fa-stack fa-lg ">
                    <i class="fa fa-circle fa-stack-2x navbar-social-media-circle"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse "></i>
                </span>
                <p class="about-text text-light d-inline-flex ml-3">2247 Lunetta Street, TX 76301</p>
            </div>
        </div>
    </div>

</div>
