
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="dark-background-content" style="padding-bottom:80px; padding-top:80px">
    
<div class="contact-main" >
     
      <div class="contact-banner-bg m-auto" style="margin-top: 150px !important;">
        <div class="container contact-banner" style="padding: 100px;">
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <h2 class="text-light" style="font-weight: 800; font-size: 48px;">Help To Build 
                Your Dream 
                Project</h2>
                <p class="header-text mt-5">A digital agency is a business you hire to outsource your digital marketing efforts, instead of handling in-house.</p>
                <button class="btn button-light  pl-4 pr-4 pt-2 pb-2 mt-3">İletişime Geç</button>
              </div>
            <div class="col-lg-6 col-sm-12">
              <img class="img-fluid" src="/assets/images/contact-banner-img.svg" alt="Contact Banner İmage">
            </div>
          </div>
        </div>
      </div>
</div>
</div>