
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



   <div class="faq" style="margin-top: 150px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h3 class="about-title " style="font-size: 38px;">Frequently Asked
              Questions</h3>
            <p class="about-text mt-5">A digital agency is a business you hire to outsource your digital marketing
              efforts, instead of handling in-house.</p>
            <button class="btn button-light  pl-4 pr-4 pt-2 pb-2 mt-3">Contact Us</button>

          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="faq-reactangle bg-light p-5">
              <h4 class="about-title">A digital agency is a business</h4>
              <p class="text mt-4">Digital marketing efforts, instead of handling in-house. They can provide your
                business with a variety of digital solutions to promote your product or service online and help you hit
                your marketing goals and grow your business.</p>
              <img class="float-right" src="/assets/images/faq-arrow.svg" alt="Faq Arrow İcon">
            </div>
            <div class="faq-reactangle  p-5 border">
              <h4 class="about-title d-inline-flex ">A digital agency is a business</h4>
              <img class="float-right" src="/assets/images/faq-arrow.svg" alt="Faq Arrow İcon">
            </div>
            <div class="faq-reactangle  p-5 border">
              <h4 class="about-title d-inline-flex ">A digital agency is a business</h4>
              <img class="float-right" src="/assets/images/faq-arrow.svg" alt="Faq Arrow İcon">
            </div>
            <div class="faq-reactangle  p-5 border">
              <h4 class="about-title d-inline-flex ">A digital agency is a business</h4>
              <img class="float-right" src="/assets/images/faq-arrow.svg" alt="Faq Arrow İcon">
            </div>

          </div>
        </div>
      </div>
    </div>