
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="dark-background-content" style="margin-top: 150px; padding-bottom: 150px; padding-top: 150px;">

      <div class="newsletter p-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <h3 class="text-light" style="font-weight: 800; font-size: 38px;">Newsletter</h3>
            </div>
            <div class="col-lg-4">
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Mailin">
                <button class="btn header-button text-light p-3 ml-3 my-2 my-sm-0" type="submit">Abone Ol</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      
    </div>