@model IEnumerable<Yipa.Entities.Concrete.Category>
@{
    ViewData["Title"] = "AdminCategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row gy-5 g-xl-8">
	<!--begin::Col-->
	<div class="col-xl-8">
		<!--begin::Tables Widget 3-->
		<div class="card card-xl-stretch mb-5 mb-xl-8">
			<!--begin::Header-->
			<div class="card-header border-0 pt-5">
				<h3 class="card-title align-items-start flex-column">
					<span class="card-label fw-bolder fs-3 mb-1">Kategori Listesi</span>
					<span class="text-muted mt-1 fw-bold fs-7">Toplam Blog Sayısı: </span>
				</h3>
				<div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Blog Ekle">
					<a href="/Category/AddCategory" class="btn btn-sm btn-light-primary">
					<!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
					<span class="svg-icon svg-icon-3">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black" />
							<rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black" />
						</svg>
					</span>
					<!--end::Svg Icon-->Yeni Blog</a>
				</div>
			</div>
			<!--end::Header-->
			<!--begin::Body-->
			<div class="card-body py-3">
				<!--begin::Table container-->
				<div class="table-responsive">
					<!--begin::Table-->
					<table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
						<!--begin::Table head-->
						<thead>
							<tr class="fw-bolder text-muted">
								<th class="w-25px">
									<div class="form-check form-check-sm form-check-custom form-check-solid">
										<input class="form-check-input" type="checkbox" value="1" data-kt-check="true" data-kt-check-target=".widget-9-check" />
									</div>
								</th>
								<th class="min-w-100px">Kategori Adı</th>
								<th class="min-w-140px">Blog Sayısı</th>
							
							</tr>
						</thead>
						<!--end::Table head-->
						<!--begin::Table body-->
						<tbody>
							
							if(Model != null)
							{
									@foreach (var item in Model)
							{
								<tr>
										<td>
											<div class="form-check form-check-sm form-check-custom form-check-solid">
												<input class="form-check-input widget-9-check" type="checkbox" value="@item.Id" />
											</div>
										</td>
									
										<td>
											<span href="#" class="text-dark fw-bolder text-hover-primary d-block fs-6">@item.Name</span>
										</td>
										<td>
											<span class="text-muted fw-bold text-muted d-block fs-7">Blog Sayısı</span>
										</td>
									</tr>
							}
							}
									

						</tbody>
						<!--end::Table body-->
					</table>
					<!--end::Table-->
				</div>
				<!--end::Table container-->
			</div>
			<!--begin::Body-->
		</div>
		<!--end::Tables Widget 3-->
	</div>
	<!--end::Col-->
</div>
