
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

 <!-- Service Main Page Start -->
    <div class="service" style="margin-top: 150px;">
      <div class="container w-100">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <img class="img-fluid" style="width: 480px; height: 480px;" src="/assets/images/service-img.svg"
              alt="Service Görseli">
          </div>
          <div class="col-lg-6 col-sm-12 p-5">
            <h2 class="about-title" style="font-size: 48px;">Making Complex
              Digital Products</h2>
            <p class="about-text mt-4 mb-3">Agency provides a full service range including <br> technical skills,
              design, business.</p>
            <div class="container mt-4">
              <div class="row">
                <div class="col-lg-2 col-sm-6">
                  <img class="img-fluid" src="/assets/images/service-bitmap-icon.svg" alt=" Service Kişi İkonu">
                </div>
                <div class="col-lg-10 col-sm-6">
                  <p class="text" style="font-size: 14px;">"Understanding, ability to put themselves in the merchant's
                    shoes. It is meant to partner."</p>
                </div>
              </div>
            </div>
            <button class="btn button-light  pl-4 pr-4 pt-2 pb-2 mt-5">Explore</button>

          </div>
        </div>

      </div>
    </div>
    <!-- Service Main Page End -->