
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!-- Header Start  -->
  <header class="header-main " style="margin-top:90px;">
    <div class="container  p-5">
      <div class="row">
        <div class="col-lg-6 col-sm-12 ">
          <div class="container">
            <h1 class="header-title text-light mt-3">Header Başlık</h1>
            <p class="header-text mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis facilis
              delectus ut earum, eligendi eius ipsam sint tempore aspernatur veritatis enim quidem, eos doloremque vitae
              iste qui nihil aliquid.</p>
            <div class="container-fluid mt-5 mb-5">
              <div class="row">
                <div class="col-lg-6 col-sm-12 mt-3">
                  <button class="btn header-button text-light p-3">HOW WE WORK</button>
                </div>
                <div class="col-lg-6 col-sm-12 mt-3">
                  <button class="btn header-button text-light p-3">HOW WE WORK</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="container">
              <div class="row">
                <div class="col-lg-3 col-sm-12">
                  <img class="img-fluid" src="" alt="Header Founder Görseli">
                </div>
                <div class="col-lg-9 col-sm-12">
                  <p class="header-text">"Put themselves in the merchant's shoes"</p>
                  <p class="text-light">Meta Inc.</p>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 mt-3">
          <img class="img-fluid" alt="Header Görseli" src="/assets/images/header-img.svg">
        </div>
      </div>
    </div>
  </header>

  <!-- Header End -->