
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!-- Header Start  -->
  <header class="header-main " style="margin-top:90px;">
    <div class="container  p-5">
      <div class="row">
        <div class="col-lg-6 col-sm-12 ">
          <div class="container">
            <h1 class="header-title text-light mt-3">İşinizi Dijitale
Taşıyalım</h1>
            <p class="header-text mt-5">İşinizi dijitale taşıyarak, daha fazla müşteriye ulaşın ve başarıyı yakalayın.</p>
            <div class="container-fluid mt-5 mb-5">
              <div class="row">
                <div class="col-lg-4 col-sm-12 mt-3">
                  <a href="/Service/Index" class="btn header-button text-light p-3">Nasıl?</a>
                </div>
                <div class="col-lg-4 col-sm-12 mt-3">
                  <a href="/Contact/Index" class="btn header-button text-light p-3">İletişime Geç</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="container">
              <div class="row">
             
                <div class="col-lg-12 col-sm-12">
                  <p class="header-text">"Dijital dönüşüm her sektörde meydana geliyor ve bu dönüşüme ayak uydurmayan şirketler hayatta kalamayacak."</p>
                  <p class="text-light">Eric Schmidt, Google'ın eski CEO'su</p>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 mt-3">
          <img class="img-fluid" alt="Header Görseli" src="/assets/images/header-img.svg">
        </div>
      </div>
    </div>
  </header>

  <!-- Header End -->