@model IEnumerable<Yipa.Entities.Concrete.Service>



 @foreach (var item in Model)
            {
                <div class="col-lg-4 col-sm-12">
                    <a href="/Service/ServiceDetails/@item.Id">
                        <div class="card-features border p-5 mt-5" style="height: 300px;">
                            <img class="img-fluid" style="width: 50px; height: 50px;" src="/assets/images/development-icon.svg"
                             alt="Features Professional Icon">
                            <h4 class="about-title pt-4" style="font-size: 20px; font-weight: 800;">@item.Title</h4>
                            <p class="text h-25 mt-4">
                                @item.Content
                            </p>
                        </div>
                    </a>
                </div>
            }