@model Yipa.Entities.Concrete.Blog

@{
    ViewData["Title"] = "AddBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    @using (Html.BeginForm("AddBlog", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <div class="mb-10">
        <label for="exampleFormControlInput1" class="required form-label">Başlık</label>
        <input type="text" name="Title" class="form-control" placeholder="Başlık"/>
        </div>
        <div class="mb-10">
        <label for="exampleFormControlInput1" class="required form-label">Tarih</label>
        <input type="datetime-local" name="PublicDate" class="form-control " placeholder="Tarih"/>
        </div>

         <label asp-for="ImagePath" class="control-label"></label>
        <input asp-for="ImagePath" type="file" class="form-control" />

        <br />

        <select class="form-select" aria-label="Select example">
            <option>Yazar</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

     
        <label for="exampleFormControlInput1" class="required form-label">İçerik</label>
        
         <div id="toolbar-container"></div>

            <textarea name="Content" id="editor">
            &lt;p&gt;This is some sample content.&lt;/p&gt;
           </textarea>


        <button href="#" class="btn btn-primary mt-5">Ekle</button>
}
</div>

 <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>


@*
<script>
    DecoupledEditor
        .create( document.querySelector( '#editor' ) )
        .then( editor => {
            const toolbarContainer = document.querySelector( '#toolbar-container' );

            toolbarContainer.appendChild( editor.ui.view.toolbar.element );
        } )
        .catch( error => {
            console.error( error );
        } );
</script>*@

         <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>