@model Yipa.Entities.Concrete.Blog

@{
    ViewData["Title"] = "AddBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <form method="post" enctype="multipart/form-data">

        <div class="mb-10">
        <label for="exampleFormControlInput1" class="required form-label">Başlık</label>
        <input type="text" name="Title" class="form-control" placeholder="Başlık"/>
        </div>
        <div class="mb-10">
        <label for="exampleFormControlInput1" class="required form-label">Tarih</label>
        <input type="datetime-local" name="PublicDate" class="form-control " placeholder="Tarih"/>
        </div>

         <label asp-for="ImagePath" class="control-label"></label>
        <input name="file" type="file" class="form-control" />

        <br />

        <select class="form-select" name="UserId" aria-label="Yazar Bilgisi">
            <option>Yazar</option>
             @foreach (var author in ViewBag.Authors)
            {
                <option  value="@author.Id">@author.FirstName @author.LastName</option>
            }
        </select>
        <br />
         <select name="Category" class="form-select" aria-label="Select example">
            <option>Kategori</option>
             @foreach (var category in ViewBag.Categories)
            {
                <option value="category.Id">@category.Name</option>
            }
        </select>

     
        <label for="exampleFormControlInput1" class="required form-label">İçerik</label>
        
         <div id="toolbar-container"></div>

            <textarea name="Content" id="editor">
            &lt;p&gt;This is some sample content.&lt;/p&gt;
           </textarea>


        <button href="#" class="btn btn-primary mt-5" type="submit">Ekle</button>
</form>
</div>

 <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>




         <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>