
@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="blog-details text-center p-3">
            <h2 class="about-title" style="font-size:50px">Agency is a business you hire to outsource</h2>
            <p class="text">7 Dec, 2021</p>
        </div>

        <div class="blog-content w-75 m-auto p-5">
            <p class="about-text">Agency provides a full service range including technical skills, design, business understanding.
Outsource your digital marketing efforts, instead of handling in-house. They can provide your business with a variety of digital solutions to promote your product or service online and help you.
Promote your product
Ability to put themselves in the merchant's shoes. It is meant to partner on the long run, and work as an extension of the merchant's team.
Digital marketing
Efforts instead
Handling in-house
A digital agency is a business you hire to outsource your digital marketing efforts, instead of handling in-house. They can provide your business with a variety of digital solutions to promote your product or service online and help you.
Service online and help
Put themselves in the merchant's shoes. It is meant to partner on the long run, and work as an extension of the merchant's team.
1. Marketing efforts
2. Instead of handling
3. In-house
Agency is a business you hire to outsource your digital marketing efforts, instead of handling in-house. They can provide your business with a variety of digital solutions to promote your product or service online and help you.</p>
        </div>
        <div class="author-details">
            <img src="" alt="Blog Yazar Detay" />
            <p class="text" style="font-size:20px">Samuil Sadovsky</p>
            <p class="haeder-text">Editör</p>
        </div>
    </div>
</div>


@Html.Partial("~/Views/Blog/LatesBlog.cshtml")
@Html.Partial("~/Views/Contact/ContactBanner.cshtml")