@model Yipa.Entities.Concrete.Blog
@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="margin-top:150px">
    <div class="row">
        <h1 style="font-weight:bold;color:#0E183A;font-size:50px">Agency is a business you hire to outsource</h1>

    </div>
</div>



@Html.Partial("~/Views/Blog/LatesBlog.cshtml")
