
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


 <div class="lates-blog" style="margin-top:100px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h2 class="about-title" style="font-size: 44px;">Latest Blog
              Articles</h2>
          </div>
          <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
            <button class="btn button-light  pl-4 pr-4 pt-2 pb-2 mt-3">Discover All</button>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <img class="img-fluid" src="/assets/images/blog-img.png" alt="">
            <p class="about-subtitle mt-3">Stories</p>
            <h4 class="about-title pr-3" style="font-size: 24px;">Agency is a business you hire to outsource</h4>
            <p class="about-text mt-3">5 Nov, 2021</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <img class="img-fluid" src="/assets/images/blog-img.png" alt="">
            <p class="about-subtitle mt-3">Stories</p>
            <h4 class="about-title pr-3" style="font-size: 24px;">Agency is a business you hire to outsource</h4>
            <p class="about-text mt-3">5 Nov, 2021</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <img class="img-fluid" src="/assets/images/blog-img.png" alt="">
            <p class="about-subtitle mt-3">Stories</p>
            <h4 class="about-title pr-3" style="font-size: 24px;">Agency is a business you hire to outsource</h4>
            <p class="about-text mt-3">5 Nov, 2021</p>
          </div>

        </div>
      </div>
    </div>