@model IEnumerable<Yipa.Entities.Concrete.Blog>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


 <div class="popular-blog mx-auto my-auto" style="margin-top:50px!important;">     
      <div class="container">
        <div class="row">
          @foreach (var item in Model)
            {
                <div class="col-lg-6 col-md-6 col-sm-12">
            <img class="img-fluid" src="@item.ImagePath" alt="">
            <p class="about-subtitle mt-3"></p>
            <h4 class="about-title pr-3" style="font-size: 24px;">@item.Title</h4>
            <p class="about-text mt-3">@item.PublicDate</p>
          </div>
            }
          

        </div>
      </div>
    </div>