@model Yipa.Entities.Concrete.About
@{
    ViewData["Title"] = "AddAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    @using (Html.BeginForm("AddAbout", "About", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <div class="mb-10">
        <label for="exampleFormControlInput1" class="required form-label">Başlık</label>
        <input type="text" name="Title" class="form-control" placeholder="Başlık"/>
        </div>
           
        
         <label asp-for="ImagePath" class="control-label"></label>
        <input name="file" type="file" class="form-control" />

        <br />

        <div class="mb-10">
        <label for="exampleFormControlInput1" class="required form-label">İçerik</label>
        <input type="text" name="Content" class="form-control  " placeholder="İçerik"/>
        </div>

       

        <button href="#" class="btn btn-primary mt-5" type="submit">Ekle</button>
}
</div>

