
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


    <div class="agency" style="margin-top: 150px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <h3 class="about-title pl-5" style="font-size: 40px; font-weight: 800;">How Our Agency <br>Can Help</h3>
          </div>
          <div class="col-lg-12 col-sm-12">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-sm-12">
                  <div class="card-features border p-5 mt-5" style="height: 350px;">
                    <img class="img-fluid" style="width: 50px; height: 50px;" src="/assets/images/design-icon.svg"
                      alt="Features Professional Icon">
                    <h4 class="about-title pt-4" style="font-size: 20px; font-weight: 800;">Design</h4>
                    <p class="text h-25">Agency provides a full service range including technical skills, design.</p>
                    <button class=" mt-3 btn button-light bg-transparent pl-4 pr-4 pt-2 pb-2 mt-3">Learn More</button>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                  <div class="card-features border p-5 mt-5" style="height: 350px;">
                    <img class="img-fluid" style="width: 50px; height: 50px;" src="/assets/images/development-icon.svg"
                      alt="Features Professional Icon">
                    <h4 class="about-title pt-4" style="font-size: 20px; font-weight: 800;">Development</h4>
                    <p class="text h-25">Full service range including <br>technical skills, design, business.</p>
                    <button class="mt-3 btn button-light bg-transparent pl-4 pr-4 pt-2 pb-2 mt-3">Learn More</button>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                  <div class="card-features border p-5 mt-5" style="height: 350px;">
                    <img class="img-fluid" style="width: 50px; height: 50px;" src="/assets/images/marketing-icon.svg"
                      alt="Features Professional Icon">
                    <h4 class="about-title pt-4" style="font-size: 20px; font-weight: 800;">Marketing</h4>
                    <p class="text h-25">Technical skills, design, business<br> understanding, ability.</p>
                    <button class="mt-3 btn button-light bg-transparent pl-4 pr-4 pt-2 pb-2 mt-3">Learn More</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
