  <!-- ====== Brands Section Start -->
<section class="pt-14 sm:pt-20 lg:pt-24">
    <div class="px-4 xl:container">
        <!-- Section Title -->
        <div class="wow fadeInUp relative mx-auto mb-16 max-w-[620px] text-center" data-wow-delay=".2s">
            <h2 class="mb-5 font-heading text-[38px] font-semibold leading-tight text-dark dark:text-white">
                Trusted by Global Brands
            </h2>
            <p class="text-base text-dark-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
                convallis tortor eros. Donec vitae tortor lacus. Phasellus aliquam
                ante in maximus.
            </p>
        </div>
        <div class="border-b pb-24 dark:border-[#2E333D]">
            <div class="wow fadeInUp -mx-4 flex flex-wrap" data-wow-delay=".2s">
                <div class="w-full px-4">
                    <div class="flex flex-wrap items-center justify-center">
                        <a href="javascript:void(0)" class="mx-4 flex w-[150px] items-center justify-center py-5 2xl:w-[180px]">
                            <img src="src/images/brands/uideck.svg" alt="image" class="hidden h-10 w-full dark:block" />
                            <img src="src/images/brands/uideck-2.svg" alt="image" class="h-10 w-full dark:hidden" />
                        </a>
                        <a href="javascript:void(0)" class="mx-4 flex w-[150px] items-center justify-center py-5 2xl:w-[180px]">
                            <img src="src/images/brands/ayroui.svg" alt="image" class="hidden h-10 w-full dark:block" />
                            <img src="src/images/brands/ayroui-2.svg" alt="image" class="h-10 w-full dark:hidden" />
                        </a>
                        <a href="javascript:void(0)" class="mx-4 flex w-[150px] items-center justify-center py-5 2xl:w-[180px]">
                            <img src="src/images/brands/graygrids.svg" alt="image" class="hidden h-10 w-full dark:block" />
                            <img src="src/images/brands/graygrids-2.svg" alt="image" class="h-10 w-full dark:hidden" />
                        </a>
                        <a href="javascript:void(0)" class="mx-4 flex w-[150px] items-center justify-center py-5 2xl:w-[180px]">
                            <img src="src/images/brands/lineicons.svg" alt="image" class="hidden h-10 w-full dark:block" />
                            <img src="src/images/brands/lineicons-2.svg" alt="image" class="h-10 w-full dark:hidden" />
                        </a>
                        <a href="javascript:void(0)" class="mx-4 flex w-[150px] items-center justify-center py-5 2xl:w-[180px]">
                            <img src="src/images/brands/plainadmin.svg" alt="image" class="hidden h-10 w-full dark:block" />
                            <img src="src/images/brands/plainadmin-2.svg" alt="image" class="h-10 w-full dark:hidden" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== Brands Section End -->