
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


 <!-- Features Start -->
    <div class="features" style="margin-top:100px;">
      <div class="container-fluid" style="padding:150px">
        <div class="row">
          <div class="col-lg-9 col-sm-12">
            <h2 class="about-title mt-3" style="font-size: 48px;">Dijital Dönüşüm Çözümleri</h2>
@*            <p class="about-text mt-5" style="line-height:1.6">Dijitalleşme yolculuğunuzda, ihtiyaç duyduğunuz her aşamada size kapsamlı çözümler sunuyoruz. Sağladığımız hizmetler, sizi bulunduğunuz piyasa içerisinde üstün konuma getirecek ve rekabetin önüne geçmenizi sağlayacaktır. </p>
*@            <div style="margin-top:60px">
              <span class="fa-stack fa-lg ">
                <i class="fa fa-circle fa-stack-2x navbar-social-media-circle"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse "></i>
              </span>
              <p class="about-text d-inline-flex ml-3">Dijitalleşme yolculuğunuzda size kapsamlı çözümler sunuyoruz. </p>
              <br>
              <span class="fa-stack fa-lg ">
                <i class="fa fa-circle fa-stack-2x navbar-social-media-circle"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse "></i>
              </span>
              <p class="about-text d-inline-flex ml-3">Sağladığımız hizmetler, işletmenizi dijital dünyada pazardaki rakiplerinizin önüne geçmenize yardımcı olur. </p>
              <br>
              <span class="fa-stack fa-lg ">
                <i class="fa fa-circle fa-stack-2x navbar-social-media-circle"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse "></i>
              </span>
              <p class="about-text d-inline-flex ml-3">İşletmenizin dijitalleşme hedeflerine ulaşmak için güvenilir bir partner arıyorsanız, biz buradayız.</p>
            </div>
          </div>
          <div class="col-lg-3 col-sm-12" style="margin-top:40px">
            <img class="img-fluid" src="/assets/images/features.svg" alt="Features Görseli">
          </div>
        </div>
      </div>
    </div>
    <!-- Features End -->


                   <!-- Features-2 Start -->
    <div class="features" style="margin-bottom:100px; margin-top:0px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-12  mb-5">
            <h5 class="about-text" style="font-size: 18px; font-weight:700">Kapsamlı Dijital Danışmanlık Paketi</h5>
            <p class="about-text mt-5">Ayrı ayrı hizmetlerimizden yararlanabileceğiniz gibi 0’dan 100’e Dijital Danışmanlık paketimizden yararlanailirsiniz.</p>
            <a href="/Contact/Index" class="btn button-light  pl-4 pr-4 pt-2 pb-2 mt-4">İletişime Geç</a>
          </div>
          <div class="col-lg-6 col-sm-12 ">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <div class="card-features border bg-light p-5">
                    <img class="img-fluid" style="width: 50px; height: 50px;" src="/assets/images/professional-icon.svg"
                      alt="Features Professional Icon">
                    <h4 class="about-title pt-4" style="font-size: 20px; font-weight: 800;">Sıfırdan Yüze 
Dijital Danışmanlık </h4>
                    <p class="text mt-3">Değerlendirmemiz sonucunda dijitalleşme yolculuğunuzda işiniz için faydalı olan hizmetlerimizin yer aldığı kapsamlı ve tamamlayıcı dijital danışmanlık paketidir.</p>
                  </div>
                </div>
            @*    <div class="col-lg-7 col-sm-12">
                  <img class="img-fluid" style="border-radius:14px" src="/assets/images/features.jpg" />
                </div>*@
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Features-2 End -->