
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


 <!-- Features Start -->
    <div class="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h2 class="about-title mt-3" style="font-size: 56px;">Give Your Site <br> A New Look</h2>
            <p class="about-text mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non vel blanditiis
              eligendi tempora vitae! Magnam molestiae ex assumenda, maiores molestias et provident atque. Perspiciatis
              atque magni vitae illum explicabo provident?</p>
            <div class="mt-5">
              <span class="fa-stack fa-lg ">
                <i class="fa fa-circle fa-stack-2x navbar-social-media-circle"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse "></i>
              </span>
              <p class="about-text d-inline-flex ml-3">Range including technical skills</p>
              <br>
              <span class="fa-stack fa-lg ">
                <i class="fa fa-circle fa-stack-2x navbar-social-media-circle"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse "></i>
              </span>
              <p class="about-text d-inline-flex ml-3">Range including technical skills</p>
              <br>
              <span class="fa-stack fa-lg ">
                <i class="fa fa-circle fa-stack-2x navbar-social-media-circle"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse "></i>
              </span>
              <p class="about-text d-inline-flex ml-3">Range including technical skills</p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <img class="img-fluid" src="/assets/images/features.svg" alt="Features Görseli">
          </div>
        </div>
      </div>
    </div>
    <!-- Features End -->


                   <!-- Features-2 Start -->
    <div class="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-12  mb-5">
            <h5 class="about-text" style="font-size: 16px;">FEATURES</h5>
            <p class="about-text mt-3">Long run, and work as an extension <br> of the merchant's team.</p>
            <button class="btn button-light  pl-4 pr-4 pt-2 pb-2 mt-3">Read More</button>
          </div>
          <div class="col-lg-7 col-sm-12 mt-3">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <div class="card-features border bg-light p-5">
                    <img class="img-fluid" style="width: 50px; height: 50px;" src="/assets/images/professional-icon.svg"
                      alt="Features Professional Icon">
                    <h4 class="about-title pt-4" style="font-size: 20px; font-weight: 800;">Professional</h4>
                    <p class="text">Full service range including <br>technical skills, design.</p>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="card-features border p-5 mt-5">
                    <h4 class="about-title pt-4" style="font-size: 20px; font-weight: 800;">Accessibility</h4>
                    <p class="text">Business understanding, <br>ability to put themselves.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Features-2 End -->