
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- Main Page About Start -->
<div class="about-main ">
    <div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
        <img alt="Hakkımda Görseli" class="w-75 img-fluid" src="/assets/images/about-img.svg">
        </div>
        <div class="col-lg-6 col-sm-12">
        <h2 class="about-title mt-4" style="font-size: 48px;">Hakkımızda</h2>
        <h2 class="about-subtitle mt-4">Provides a full service range</h2>
        <p class="about-text mt-4">Bu sektörün her aşamasında yer aldık ve bir şirketin dijitalde var olmak için nelere ihtiyacı olduğunu iyi biliyoruz. Bu yüzden YİPA Danışmanlık Şirketini kurduk ve amacımız küçük işletmelerin Dünyaya açılmasında onlara 0’dan en üst seviyeye yardımcı olmak</p>
        <button class="btn button-light  pl-4 pr-4 pt-2 pb-2">Hakkımızda</button>
        </div>
    </div>
    </div>
</div>
<!-- Main Page About End -->