
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<!-- Experience Start -->
<div class="experience" style="margin-top: 150px;">
    <div class="container ">
    <div class="row border border-end-0 border-dark rounded">
        <div class="col-lg-4 col-sm-12 ">
        <div class="pl-5 pt-5 pb-4">
            <h3 class="about-title">42%</h3>
            <p class="about-subtitle mt-3" style="font-weight: 600;">Years of experience</p>
        </div>
        </div>
        <div class="col-lg-4 col-sm-12 bg-light">
        <div class="pl-5 pt-5">
            <h3 class="about-title">73+</h3>
            <p class="about-subtitle mt-3" style="font-weight: 600;">Agency members</p>
        </div>

        </div>
        <div class="col-lg-4 col-sm-12">
        <div class="pl-5 pt-5">
            <h3 class="about-title">5.000</h3>
            <p class="about-subtitle mt-3" style="font-weight: 600;">Projects complete</p>
        </div>

        </div>
    </div>
    </div>
</div>
<!-- Experience End -->
