
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="dark-background-content " style="margin-top: 150px; padding-bottom: 150px; padding-top: 150px;">
      <!-- Get Started Start -->
      <div class="get-started m-auto w-75 ">
        <div class="container">
          <div class="row">
            <div class="col-4 mt-3">
              <h4 class="about-title"> We Help Companies <br>Move Faster</h4>
              <button class="btn header-button text-light p-3 mt-5" style="background-color: #21264A;">İletişime
                Geç</button>

            </div>
            <div class="col-4">
              <img class="img-fluid" src="/assets/images/get-started-img.svg" alt="Get Started Görsel 1.">
            </div>
            <div class="col-4">
              <img class="img-fluid" src="/assets/images/get-started-icon.svg" alt="Get Start Görsel 2.">
            </div>
          </div>
        </div>
      </div>
      <!-- Get Started End -->

      <!-- Events Start -->
      <div class="events text-center " style="margin-top: 150px;">
        <h2 class="text-light  font-weight-bold">Explore Future Conferences</h2>
        <div class="container text-light mt-5">
          <div class="row">
            <div class="col-lg-4 col-sm-12 ">
              <h1 class="d-inline-block font-weight-bold" style="font-size: 72px;">3</h1>
              <h4 class="d-inline-block font-weight-bold">November <br>2021</h4>
              <p>9:00 am – 3:00 pm</p>

              <h4 class="font-weight-bold mt-5" style="font-size: 24px;">Design Weeks</h4>
              <p class="header-text mt-3">Digital agency is a business you hire to outsource your digital.</p>
              <button class="mb-5 mt-3 btn button-trans bg-transparent pl-4 pr-4 pt-2 pb-2 mt-3">Explore Now</button>
            </div>
            <div class="col-lg-4 col-sm-12">
              <h1 class="d-inline-block font-weight-bold" style="font-size: 72px;">3</h1>
              <h4 class="d-inline-block font-weight-bold">November <br>2021</h4>
              <p>9:00 am – 3:00 pm</p>

              <h4 class="font-weight-bold mt-5" style="font-size: 24px;">Design Weeks</h4>
              <p class="header-text mt-3">Digital agency is a business you hire to outsource your digital.</p>
              <button class="mb-5 mt-3 btn button-trans bg-transparent pl-4 pr-4 pt-2 pb-2 mt-3">Explore Now</button>
            </div>
            <div class="col-lg-4 col-sm-12">
              <h1 class="d-inline-block font-weight-bold" style="font-size: 72px;">3</h1>
              <h4 class="d-inline-block font-weight-bold">November <br>2021</h4>
              <p>9:00 am – 3:00 pm</p>

              <h4 class="font-weight-bold mt-5" style="font-size: 24px;">Design Weeks</h4>
              <p class="header-text mt-3">Digital agency is a business you hire to outsource your digital.</p>
              <button class="mb-5 mt-3 btn button-trans bg-transparent pl-4 pr-4 pt-2 pb-2 mt-3">Explore Now</button>
            </div>
          </div>
        </div>
        <button class="mb-5 mt-3 btn button-trans bg-transparent pl-4 pr-4 pt-2 pb-2 mt-3 border ">Explore More</button>

      </div>
      <!-- Events End -->
      <div class="founder" style="margin-top: 150px;">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <img class="img-fluid w-75" src="/assets/images/founder-img.svg" alt="Founder Görseli">
            </div>
            <div class="col-lg-6 col-sm-12">
              <h3 style="color: #6CA7EC; font-weight: 700; font-size: 24px;">Founder Words</h3>
              <p class="text-light mt-5 " style="font-weight: 900; font-size: 32px;">Digital agency is a business you
                hire to outsource your digital marketing efforts</p>
              <p class="text-light mt-5">Yiğit Parmaksız</p>
              <p class="header-text" style="font-size: 14px;">Founder</p>
            </div>
          </div>
        </div>
      </div>
    </div>

