
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!-- How Work Start -->
<div class="how-work">
    <div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
        <h2 class="about-title mt-3">Making Your Projects <br> Look Awesome</h2>
        <p class="about-text mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nesciunt ex
            suscipit cumque! Quae deleniti laudantium repudiandae eaque facere totam tempora dignissimos, voluptatibus
            veritatis assumenda maxime excepturi harum sunt accusantium.</p>
        <button class="btn button-light  pl-4 pr-4 pt-2 pb-2 mt-3">Read More</button>
        </div>
        <div class="col-lg-6 col-sm-12 pl-5 mt-2">
        <div class="container mt-5 pl-5">
            <div class="row">
            <div class="col-12">
                <h1 class="d-inline-flex about-title" style="font-size: 68px;">1</h1>
                <h4 class="d-inline-flex about-title ml-5">Full service range including</h4>
            </div>
            <div class="col-12">
                <h1 class="d-inline-flex about-title" style="font-size: 68px;">2</h1>
                <h4 class="d-inline-flex about-title ml-5">Full service range including</h4>
            </div>
            <div class="col-12">
                <h1 class="d-inline-flex about-title" style="font-size: 68px;">3</h1>
                <h4 class="d-inline-flex about-title ml-5">Full service range including</h4>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<!-- How Work End -->