
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*Header Start*@
<div class="dark-background-content text-center" style="padding: 150px 80px 50px 80px;">
    <h1 class="text-light" style="font-weight:700" >Hakkımızda</h1>
    <p class="header-text">Agency provides a full service range including technical skills, design, business understanding.</p>
</div>

@*Header End*@


<!-- About Content Start -->
    <div class="about-page-content mt-5">
      <div class="container">
          <h2 class="about-title mt-4" style="font-size: 48px;">An Experience <br> Design Agency</h2>
          <p class="metinn">Ability to put themselves in the merchant's shoes. It is meant to partner<br> on the long run, and work as an extension of the merchant's team</p>
          <br>
          <p class="metinn">A digital agency is a business you hire to outsource your digital<br> marketing efforts, instead of handling in-house. They can provide your<br> business with a variety of digital solutions to promote your product or<br> service online and help you.</p>
        </div>
     </div>
      
   
    <!-- About Content End -->



    <!-- Features-2 Start -->
    <div class="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-12 mb-5">
            <div id="kutu1"></div>
            <h5 class=" baslik about-text" style="font-size: 16px;">FEATURES</h5>
            <br>
            <p class=" baslik about-text mt-3">Long run, and work as an extension <br> of the merchant's team.</p>
            <p class="altmetin">Ability to put themselves in the merchant's<br> shoes.Its is meant to partner on the log run<br> and work as an extension.</p>
            <button class="btn button-light  pl-4 pr-4 pt-2 pb-2 mt-3">Read More</button>
          </div>
          <div class="col-lg-6 col-sm-12 mt-3">
              <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                      <div class="card-features border bg-light p-5">
                        <img class="img-fluid" style="width: 50px; height: 50px;" src="/assets/images/professional-icon.svg" alt="Features Professional Icon">
                        <div id="kutu2"></div>
                        <h4 class="about-title pt-4" style="font-size: 20px; font-weight: 800;">Professional</h4>
                        <p class="text">Full service range including <br>technical skills, design.</p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                      <div class="card-features border p-5 mt-5">
                        <div id="kutu3"></div>
                        <h4 class="about-title pt-4" style="font-size: 20px; font-weight: 800;">Accessibility</h4>
                        <p class="text">Business understanding, <br>ability to put themselves.</p>
                      </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Features-2 End -->

       <!-- Experience Start -->    
       <div class="experience" style="margin-top: 150px; margin-bottom:100px">
        <div class="container ">
          <div class="row border border-end-0 border-dark rounded">
            <div class="col-lg-4 col-sm-12 ">
              <div class="pl-5 pt-5 pb-4">
                <h3 class="about-title">42%</h3>
                <p class="about-subtitle mt-3" style="font-weight: 600;">Years of experience</p>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12 bg-light">
              <div class="pl-5 pt-5">
                <h3 class="about-title">73+</h3>
                <p class="about-subtitle mt-3" style="font-weight: 600;">Agency members</p>
              </div>
  
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="pl-5 pt-5">
                <h3 class="about-title">5.000</h3>
                <p class="about-subtitle mt-3" style="font-weight: 600;">Projects complete</p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
      <!-- Experience End -->

@Html.Partial("~/Views/Newsletter/MainNewsletter.cshtml")
@Html.Partial("~/Views/Home/Footer.cshtml")